:root{
    --keppel: #63BDA4ff;
--nyanza: #D6FFDDff;
--aureolin: #F6E335ff;
--electric-blue: #21E6F6ff;
--red-crayola: #F70051ff;
--black: #000000ff;
--white: #FFFFFFff;
}
html{
    background-image: url("BMO_background-transformed.webp");
    height:100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
*,
*::before
*::after{
    box-sizing: border-box;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@media only sceen and (min-width: 1200px){
    .head1{
        font-size: 40px;
    }
    .container{
        width: 1140px;
    }
}

.head1{
    top: 0px;
    position: absolute;
    color:var(--nyanza);
    text-shadow: 2px 2px 2px var(--red-crayola);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    width: 50%;
    height: 6%;
    background-color: var(--keppel);
    box-shadow: var(--electric-blue) 4px 8px 3px;
    padding: 20px;
    text-align: center;
}

.container{
    background-color: var(--keppel);
    margin: 0px;
    padding: 0;
    display: flex;
    border-top: 4px solid var(--aureolin);
    border-bottom: 4px solid var(--aureolin);
    border-left: 4px solid var(--electric-blue);
    border-right: 4px solid var(--electric-blue);
    width: 92%;
    height:auto;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    gap: 0rem;
}
.one{
    color: var(--nyanza);
    text-shadow: var(--red-crayola) 2px 2px 2px;
    padding: 0px 8px;
    font-size:x-large;
    display: flex;
    flex: 1 1 0;
    max-height: 281px;
    max-width: 200%;
}
.zero{
    border-right: 4px solid var(--red-crayola);
    border-bottom: 2px solid var(--clr-crown);
    height: auto;
    padding: 0%;
    margin: 0%;
    display: flex;
    top: 0;
    left: 0;
}
.zero img{
    width: 100%;
    height: 100%;
    display: block;
}