:root{
    --black: #040004ff;
--gold: #FBD11Cff;
--sienna: #71301Cff;
--white: #FCFBFCff;
}
html{
    background-image: url("Lady_Rainicorn_s_house-transformed.webp");
    height:100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
*,
*::before
*::after{
    box-sizing: border-box;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@media only sceen and (min-width: 1200px){
    .head1{
        font-size: 40px;
    }
    .container{
        width: 1140px;
    }
}

.head1{
    top: 0px;
    position: absolute;
    color:var(--white);
    text-shadow: 2px 2px 4px var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    width: 50%;
    height: 6%;
    background-color: var(--gold);
    box-shadow: black 4px 4px 8px;
    padding: 20px;
    text-align: center;
}

.container{
    background-color: var(--gold);
    margin: 0px;
    padding: 0;
    display: flex;
    border: 2px solid var(--black);
    width: 92%;
    height:auto;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    gap: 0rem;
}
.one{
    color: #FFFFFF;
    text-shadow: var(--sienna) 2px 2px 3px;
    padding: 0px 8px;
    font-size:22px;
    display: flex;
    flex: 1 1 0;
    max-height: 281px;
    max-width: 200%;
}
.zero{
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--clr-crown);
    height: auto;
    padding: 0%;
    margin: 0%;
    display: flex;
    top: 0;
    left: 0;
}
.zero img{
    width: 100%;
    height: 100%;
    display: block;
}