:root{
    --clr-light: #A9DDFE;
    --clr-blue: #002C6D;
    --clr-crown: #FCCD00;
    --clr-jewel: #EB0401;
    --clr-white: #FFFFFF;
    --clr-black: #000000;
}
html{
    background-image: url("Ice_Kingdom-transformed.jpg");
    height:100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
*,
*::before
*::after{
    box-sizing: border-box;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@media only sceen and (min-width: 1200px){
    .head1{
        font-size: 40px;
    }
    .container{
        width: 1140px;
    }
}

.head1{
    top: 0px;
    position: absolute;
    color:var(--clr-crown);
    text-shadow: 2px 2px 4px var(--clr-jewel);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    width: 50%;
    height: 6%;
    background-color: var(--clr-blue);
    box-shadow: #A9DDFE 4px 4px 8px;
    padding: 20px;
    text-align: center;
}

.container{
    background-color: #002C6D;
    margin: 0px;
    padding: 0;
    display: flex;
    border: 2px solid var(--clr-crown);
    width: 92%;
    height:auto;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    gap: 0rem;
}
.one{
    color: #FFFFFF;
    text-shadow: #A9DDFE 2px 2px 3px;
    padding: 0px 8px;
    font-size:x-large;
    display: flex;
    flex: 1 1 0;
    max-height: 281px;
    max-width: 200%;
}
.zero{
    border-right: 2px solid var(--clr-crown);
    border-bottom: 2px solid var(--clr-crown);
    height: auto;
    padding: 0%;
    margin: 0%;
    display: flex;
    top: 0;
    left: 0;
}
.zero img{
    width: 100%;
    height: 100%;
    display: block;
}