:root{
    --white: #FCFCFEff;
    --night: #0D0C11ff;
    --yinmn-blue: #2E5780ff;
    --falu-red: #750F11ff;
    --raisin-black: #272224ff;
}
html{
    background-image: url("Marceline\ house\ upscaled.webp");
    height:100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
*,
*::before
*::after{
    box-sizing: border-box;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@media only sceen and (min-width: 1200px){
    .head1{
        font-size: 40px;
    }
    .container{
        width: 1140px;
    }
}

.head1{
    top: 0px;
    position: absolute;
    color:var(--white);
    text-shadow: 3px 2px 2px var(--yinmn-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    width: 50%;
    height: 6%;
    background-color: var(--raisin-black);
    box-shadow: var(--falu-red) 4px 4px 8px;
    padding: 20px;
    text-align: center;
}

.container{
    background-color: var(--raisin-black);
    margin: 0px;
    padding: 0;
    display: flex;
    border: 2px solid var(--falu-red);
    width: 92%;
    height:auto;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    gap: 0rem;
}
.one{
    color: #FFFFFF;
    text-shadow: var(--yinmn-blue) 3px 2px 2px;
    padding: 0px 8px;
    font-size:x-large;
    display: flex;
    flex: 1 1 0;
    max-height: 281px;
    max-width: 200%;
}
.zero{
    border-right: 2px solid var(--falu-red);
    border-bottom: 2px solid var(--clr-crown);
    height: auto;
    padding: 0%;
    margin: 0%;
    display: flex;
    top: 0;
    left: 0;
}
.zero img{
    width: 100%;
    height: 100%;
    display: block;
}